@import '~bootstrap/scss/bootstrap';
@import './variables';

body {
  background-image: $background-image;
}

nav {
  background-color: $accent;
}

.navbar-light .navbar-nav .nav-link {
  color: $font-color-light-accent;

  &:hover {
    color: $font-color-light-accent-hover;
  }
}

section {
  margin: 10px;
  border: $recipe-border-style;
  background-color: $font-color-light-accent;
  padding: 5px;
}

.btn {
  margin: 5px;
}

h1 {
  color: $accent;
}

.authorized {
  display: none;
}

.title {
  display: block;
  margin-top: 10px;
}

.add-ingredient {
  cursor: pointer;
}

.add-step {
  cursor: pointer;
}

a {
  &:not([href]) {
    color: $link-color;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: $link-color-hover;
      text-decoration: underline;
    }
  }
}

.col-12 {
  margin: 5px;
}

textarea {
  height: 100px;
  margin-left: 10px;
  width: 50%;
}

.form-control {
  margin-left: 10px;
  width: 50%;
}

.row {
  display: flex;
}

.hidden-div {
  display: none;
}

.hidden-buttons {
  display: none;
}
