@import '~bootstrap/scss/bootstrap';
@import './variables';

body {
  background-image: $background-image;
  font-family: $body-font;
}

.opener {
  margin-top: 35px;
  text-align: center;
  font-size: 20px;
}

nav {
  background-color: $accent;
}

.navbar-light {
  background-color: $invisible-navbar;
}

.header {
  display: inline-flex;
  justify-content: flex-end;
  margin: 0;
  width: 100%;
}

small {
  margin: 0 10px;
}

h1 {
  align-self: flex-start;
  font-family: $title-font;
}

h3 {
  font-family: $title-font;
}

a {
  color: $accent;
  cursor: pointer;

  &:hover {
    color: $font-color-light-accent-hover;
  }

  .navbar-anchor {
    color: $font-color-light-accent;
  }
}

section {
  background-color: $font-color-light-accent;
  border: $recipe-border-style;
  margin: 10px;
  padding: 5px;
}

.title-font {
  font-family: $title-font;
}

.heart {
  color: $font-color-light-accent;
  font-family: $title-font;
  font-size: 20px;
  margin-top: 5px;
}

.star {
  cursor: pointer;
  font-size: 40px;
}

.rating-input {
  display: none;
}

.nav-btn {
  background-color: $font-color-light-accent;
  border: $border-button;
  border-radius: 30px;
  color: $accent;
  margin: 7px 20px;
    &:hover {
      background-color: $font-color-light-accent-hover;
      border: $border-inverse;
    }
    &:active {
      background-color: $font-color-light-accent-hover;
      border: $border-inverse;
    }
    &:visited {
      background-color: $font-color-light-accent;
      border: $border-inverse;
      border-radius: 30px;
      color: $accent;
      margin: 7px 20px;
    }
}

.submit-btn {
  background-color: $font-color-light-accent;
  border: $border-button;
  border-radius: 15px;
  color: $accent;
  margin-left: 5px;
  &:hover {
    background-color: $font-color-light-accent-hover;
    border: $border-inverse;
  }
  &:active {
    background-color: $font-color-light-accent-hover;
    border: $border-inverse;
  }
  &:visited {
    background-color: $font-color-light-accent;
    border: $border-inverse;
    border-radius: 30px;
    color: $accent;
    margin: 7px 20px;
  }
}

h1 {
  color: $accent;
}

.search-inputs {
  margin-top: 50px;
}

.search-label {
  color: $accent;
  margin-top: 10px;
}

.comment-title {
  margin-bottom: 10px;
  margin-left: 10px;
}

.authorized {
  display: none;
}

.navbar-authorized {
  visibility: hidden;
}

.title {
  display: block;
  margin-top: 10px;
}

.add-ingredient {
  cursor: pointer;
}

.add-step {
  cursor: pointer;
}

.col-12 {
  margin: 5px;
}

textarea {
  height: 100px;
  margin-left: 10px;
  width: 70%;
}

.form-label {
  margin-bottom: 0;
  margin-left: 10px;
  margin-top: 10px;
}

.form-control {
  margin-left: 10px;
  width: 50%;
}

.row {
  display: flex;
}

.hidden-div {
  display: none;
}

.hidden-buttons {
  display: none;
}
