$link-color: #323ca8;
$link-color-hover: #6672fa;
$background-image: url('public/pastelyellow-bg.jpg');
$accent: #642535;
$accent-hover: #38121c;
$font-color-light: #fff;
$font-color-light-accent: #fad9f2;
$font-color-light-accent-hover: #c68292;
$recipe-border-style: 4px outset #fad9f2;
$modal-bg: #fff0fb;
$invisible-navbar: rgba(0, 0, 0, 0);
$border-inverse: none;
$border-button: none;
$title-font: 'Pacifico', cursive;
$body-font: 'Roboto Slab', serif;
