$link-color: #323ca8;
$link-color-hover: #6672fa;
$background-image: url('public/pastelyellow-bg.jpg');
$accent: #642535;
$font-color-light: #fff;
$font-color-light-accent: #efcdd5;
$font-color-light-accent-hover: #c68292;
$recipe-border-style: 4px outset #efcdd5;
